* {
  background: #f9f3f3;
}

h1 {
  text-align: center;
  font-family: 'La Belle Aurore', cursive;
}

h2 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.img-of-love {
  text-align: center;
}

img {
  max-width: 100vw;
  height: auto;
}

.love {
  border: solid 1px black;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  line-height: 75px;
  text-align: center;
  margin: 12px 24px;
  cursor: pointer;
  font-family: 'La Belle Aurore', cursive;
}

.all-the-love{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 65vh;
}

footer {
  text-align: center;
  font-family: 'Roboto', sans-serif;

}